h2
{
    
    font-size: 16px;
    color: black;

}
div {
    
}
#addarea {
    font-size: 16px;
    font-weight: 400;
}
table.producer
{
    border: solid 0px black;
	margin: auto;
	width: 920px;
}
#description
{
    font-family:Arial;
    font-size:12px;
    padding: 0 0 4px 4px;
}
h3 
{
    color: blue;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
}
table
{
    text-align:left;
	font-family:Arial;
	font-size:12px;
	width: 910px;
	margin: auto;
    /*background-color: white;*/
}
td
{
	text-align:left;
	font-family:Arial;
	width: 200px;
	height:25px;
}
table.croplocslist
{
    display: block;
    font-family: Arial;
    font-size: 12px;
    height: 374px;
    margin: auto;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left;
    width: 250px;
}
table.croplocslist td
{
    text-align:left;
	font-family:Arial;
	width: 200px;
    height:20px;
    vertical-align: top;
}
input.addlocation
{
    width:200px;
}

#mapcontent
{
	/*height: 600px;*/
	background-color:White ;
}
table.mapcroplocs
{
    width: 652px;
	margin: auto;
	height:375px;
	border: 1px solid #000000;
}
ul#list-nav {
list-style:none;
margin:0px;
padding:0;
width:400px;
}
ul#list-nav li {
display:inline
}
ul#list-nav li a {
text-decoration:none;
padding:5px 0;
width:100px;
background:Gray;
color:#eee;
float:left;
text-align:center;
border-left:1px solid #fff;
}
ul#list-nav li a:hover {
background:black;
color:white;
cursor: pointer;
}
a.clickable
{
    font-size: 12px;
	color: Blue;
	/*padding:0px 0px 0px 0px;
	vertical-align: super;*/
}
a.clickable:hover
{
	/*font-weight: bold;*/
	cursor: pointer;

}
a.rctlr
{
    font-size: 10px;
	color: Blue;
	float:right;
	padding-right:10px;
}
a.rctlr:hover
{
	font-weight: bold;
	cursor: pointer;

}
/*icons styles*/
.pushpinStyle_nuts
{
    position:relative;
    background: url(../images/pushpins/pushpinblue20.png) no-repeat 0 0;
    top: 10px;
    text-align:center;
    font:bold 10px Arial;
    height:20px;
    width:20px;
    color: white;
    /*cursor:pointer;*/
}
.pushpinStyle_field
{
    position:relative;
    background: url(../images/pushpins/pushpingreen20.png) no-repeat 0 0;
    top: 10px;
    text-align:center;
    font:bold 10px Arial;
    color: white;
    height:20px;
    width:20px;
    /*cursor:pointer;*/
}
.pushpinStyle_nursery
{
    position:relative;
    background: url(../images/pushpins/pushpinred20.png) no-repeat 0 0;
    top: 10px;
    text-align:center;
    font:bold 10px Arial;
    color: white;
    height:20px;
    width:20px;
    /*cursor:pointer;*/
}
.pushpinStyle_vegetables
{
    position:relative;
    background: url(../images/pushpins/pushpinpurple20.png) no-repeat 0 0;
    top: 10px;
    text-align:center;
    font:bold 10px Arial;
    color: white;
    
    height:20px;
    width:20px;
    /*cursor:pointer;*/
}
.pushpinStyle_forage
{
    position:relative;
    background: url(../images/pushpins/pushpinwhite20.png) no-repeat 0 0;
    top: 10px;
    text-align:center;
    font:bold 10px Arial;
    color: black;
    height:20px;
    width:20px;
    /*cursor:pointer;*/
}
.pushpinStyle_bees
{
    position:relative;
    background: url(../images/pushpins/pushpinyellow20.png) no-repeat 0 0;
    top: 10px;
    text-align:center;
    vertical-align:middle;
    font:bold 10px Arial;
    color:black;
    height:20px;
    width:20px;
    /*cursor:pointer;*/
}
.pushpinStyle_unknown
{
    position:relative;
    background: url(../images/pushpins/pushpinunknown20.png) no-repeat 0 0;
    top: 10px;
    text-align:center;
    vertical-align:middle;
    font:bold 10px Arial;
    color:black;
    height:20px;
    width:20px;
    /*cursor:pointer;*/
}
.text {
    position:relative;
    top: +4px;
    /*//color: white;*/
}
/*.pushpinStyle1 .text
{
    position:relative;
    left: -8px;
    top: -8px;
    
    color:White;
}

.pushpinStyle2 .text
{
    position:relative;
    left: -8px;
    top: -8px;
    color:White;
}*/
.icon1
{
    position:relative;
    background: url(../images/fruits_nuts_20x20.png) no-repeat 0 0;
    /*top:-15px;*/
    text-align:center;
    font:bold 10px Arial;
    height:20px;
    width:20px;
}
.icon2
{
    position:relative;
    background: url(../images/vegetables_20x20S.png) no-repeat 0 0;
    /*top:-15px;*/
    text-align:center;
    font:bold 10px Arial;
    height:20px;
    width:20px;
}
.icon1 .text, .icon2 .text
{
    position:relative;
    top:0px;
    color:White;
}
/* help overlay */
.overlay
{
    background-color: gray;
    height: 100%;
    left: 0;
    line-height: 40px;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10000;
    
}
.closeoverlay{
    background: url("../images/closebtn30px.png") no-repeat scroll 0 0 transparent;
    float: right;
    height: 30px;
    margin-right: 0;
    margin-top: 0;
    padding-left: 0;
    padding-top: 0;
    text-align: center;
    width: 30px;
}
a.boxclose
{
    color: transparent;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    line-height: 27px;
}
#box1
{
    height: 141px;
    margin: 0;
    opacity: 1;
    padding: 0;
    position: absolute;
    right: -8px;
    top: 166px;
    width: 200px;
    z-index: 10000;
}
/*Rama Changes*/
#box2
{
    bottom: 219px;
    height: 149px;
    left: 50px;
    margin: 0;
    opacity: 1;
    padding: 0;
    position: absolute;
    width: 192px;
    z-index: 10000;
}
/*Rama Changes*/
#box3
{
    height: 139px;
    left: 320px;
    margin: 0;
    opacity: 1;
    padding: 0;
    position: absolute;
    top: 59px;
    width: 165px;
    z-index: 10000;
}
/*Rama Changes*/
#pointer1
{
    height: 98px;
    margin: 0;
    opacity: 1;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 78px;
    width: 108px;
    z-index: 10000;
}
/*Rama Changes*/
#pointer2
{
    height: 120px;
    left: 5px;
    margin: 0;
    opacity: 1;
    padding: 0;
    position: absolute;
    top: 144px;
    width: 195px;
    z-index: 10000;
}
/*Rama Changes*/
#pointer3
{
    height: 44px;
    left: 221px;
    margin: 0;
    opacity: 1;
    padding: 0;
    position: absolute;
    top: 134px;
    width: 110px;
    z-index: 10000;
}
/*Rama Changes*/