/*
/* Created by Filipe Pina
 * Specific styles of signin, register, component
 */
/*
 * General styles
 */
.navbar-brand{ 
    max-height: 80px;
    max-width: 80px; 
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0; 
}
.panel-footer.panel-custom {
    background: #1d0000;
    color: white;
}
.footer-col {
    color: white;
}
body, html{
    height: 100%;
 	background-repeat: no-repeat;
 	background-color: #d3d3d3;
 	font-family: 'Raleway', sans-serif;
    
}
.margin30 {
    margin-bottom: 35px;
    margin-top: 70px;
}
.main{
 	margin-top: 70px;
}

h1.title { 
	font-size: 50px;
	font-family: 'Passion One', cursive; 
	font-weight: 400; 
}
h1 {
    color: black;
}
h2 {
    color: black;
}

hr{
	width: 10%;
	color: #fff;
}
p {
    color: black;
}
.form-group{
	margin-bottom: 15px;
}

label{
	margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
 	background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}
.form-group .control-label:after {
  content:"  *";
  color:red;
}

.main-center{
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 570px;
    padding: 40px 40px;

}

.login-button{
	margin-top: 5px;
}

.login-register{
	font-size: 11px;
	text-align: center;
}

/* Color of invalid field */
.has-error label.error {
    color: #a94442;
    display:inline;
}
/* Color of valid field */
.has-success .control-label
{
    color: #3c763d;
}
.mLabelText, #username-r, #username-fg-sp {
    color: #000 !important;
    border-color: #000;
  }

.btn-primary.raised {
	box-shadow: 0 3px 0 0 #007299;
}
.btn-primary.raised:active, .btn-primary.raised.active {
	background: #33a6cc;
	box-shadow: none;
	margin-bottom: -3px;
	margin-top: 3px;
}

.btn.outline {
	background: none;
	padding: 12px 22px;
}

.btn-primary.outline {
	border: 2px solid #1d0000;
	color: #1d0000;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
	color: #1d0000;
	border-color: #1d0000;
}
.btn-primary.outline:active, .btn-primary.outline.active {
	border-color: #1d0000;
	color: #1d0000;
	box-shadow: none;
}


/*Adding to display button on right of table in dashboard*/
.rightbuttonlink {
    padding-top: 11px;
    padding-left:295px; 
    float: right;
}

/*Added to give style to advanced search box in applicator listing*/
.searchclass {
    padding-left:28px !important;
}
.searchheight {
    height: 35px !important;
}
.paddingtopbutton {
    padding-top:25px !important;
}

/*Display Modal on Producer Page*/
.displayModal {
    z-index:99 !important;
}


/*to display radio button on applicator listing*/
.notActiveRadio{
    color: #3276b1 !important;
    background-color: #fff !important;
}

.activeRadio {
    color: #fff !important;
    background-color: #204d74 !important;
}

.modalZIndex {
    z-index : 100000;
}

searchBoxPos {
    padding-left:-1px;
}

/*For borders on table in account info section*/
.borderless td, .borderless th {
    border: none;
}